<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="privacy-routing-vendor" value="vendor/privacy-routing-e75bfed" />
    <add key="pma-vendor" value="vendor/pma" />
    <add key="p04-vendor" value="vendor/p04" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="privacy-routing-vendor">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="pma-vendor">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="p04-vendor">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="coverlet.collector" />
      <package pattern="Google.Protobuf" />
      <package pattern="libsodium" />
      <package pattern="Microsoft.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Npgsql" />
      <package pattern="Rebex.*" />
      <package pattern="Sodium.Core" />
      <package pattern="System.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
